*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    display: flex; 
    justify-content: center;
    height: 100vh;
    background-color: rgb(114, 100, 98);
}

li{
    list-style-type: none;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    width: 300px;
}

form{
    margin-top: 20%;
    background-color: salmon;
    width: 300px;
    height: 9vh;
    border: 2px solid rgb(55, 0, 255);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

legend{
    font-size: 1.2rem;
    margin-top: 13px;
    margin-left: 50px;
}

#addtask{
    color: rgb(55, 0, 255);
    width: 70px;
    padding: 5px;
    font-family: 1.5rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(55, 0, 255);
    border-radius: 5px;
    box-shadow: 3px 3px 3px;
}

#title{
    width: 210px;
    border: 2px solid rgb(55, 0, 255);
    border-radius: 5px;
    padding: 5px;
    margin-top: 6px;
    margin-left: 2px;
}