body {
	background-image: linear-gradient(to right, #904e95 10%, #e96443);
}
.rond {
	width: 180px;
	height: 180px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	/* z-index: 1; */
}
#r1 {
	top: 45%;
	left: 54%;
	transform: translate(-50%, -50%);
}
#r2 {
	top: 45%;
	left: 46%;
	transform: translate(-50%, -50%);
}
#r3 {
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}
