*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* version mobile */
@media  screen and (min-width: 390px) {
header{
    position: fixed;
    top: 0;
    right: 0;
}

header .menu ul li{
position: relative;
display: none;
float: left;
font-size: 1.5rem;
padding: 0;
display: flex;
flex-direction: column; 
}
header .menu ul li a{
    text-decoration: none;
    color: black;
}
.mobile{
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
}
input{
    display: none; 
    width: 100px; 
    
}
label{
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 7px 12px 5px rgba(0, 0, 0, 2);
    border: 2px solid black;
    padding: 2px;
    align-items: center;
    z-index: 100;
}
#toggle:checked ~ .mobile {
    display: initial;
}
}

/* version tablette */
/* @media screen and (max-width: 820px){
    ul{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    li{
        list-style-type: none;
        font-size: 1.5rem;
        width: 200px;
        ;
    }
    a{
        text-decoration: none;
        color: #000;
    }
} 


/* version desktop */
/* @media screen and (min-width: 1688px) {
li{
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 200px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    background-color: black;
    color: white;
} }   */