*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}
.a, .b,.c,.d{
    font-size: 1rem;
    padding: 1rem ;

}

.a{
    color: gray;
    border: 3px solid gray;
    font-size: 1rem;
    transition-property: color, border, transform;
    transition-delay: 0.2s, 0.2s;
    transition-duration: 1.5s;
    transform: rotateY(0);
}

.a:hover{
    color: red;
    border: 3px solid red;
    transition-duration: 0.8s;
    transform: rotateY(360deg);
    transition-property: color, border;

}

/*.a:not(:hover){
    transition-duration: 1.5s;
    transform: rotateY(360deg); 
}*/


.b{
    background-color: palevioletred;
    color: white;
    border-radius: 10px;
    border: 1px solid palevioletred;
    box-shadow: gray 10px 10px 5px 1px;
    rotate:  x 0deg;
    transition-property: rotate, translate;
    transition-duration: 1.5s,0s;

}

.b:hover{
    transform: translateY(5px);
    box-shadow: gray 5px 5px 5px 1px;
}

.b:active{
    /* translate: 0 5px 0; */
    rotate: x 360deg ;
    box-shadow: gray 5px 5px 5px 1px;
    transition-property: transform;

}


.c{
    background-color: orangered;
    color: white;
    border-radius: 90px;
    border: orangered 2px solid;
    font-weight:600;
    
}

.c:hover{
    border: white 2px solid;
}
.c:hover span{
    background-color: white;
    color: orangered;
    rotate: -360deg;
    transition-duration: 0.5s;
}

.c span{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
    rotate: 0;
    transition-duration: 0.5s;
}


.d{
    font-weight: 600;
    background-color: transparent;
    border:none;
    color: slateblue;
    /* text-underline-offset: 10px; */
    position: relative;
}

.d:hover{
    color: black;
    /* text-decoration: 3px slateblue underline overline; */
}

d::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: slateblue;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

d:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
.d:active{
    color: magenta;
    text-decoration: magenta;
}